# this is the default config file sourced by backup-toolkit. 
# make any changes you want, but in case you mess something up,
# don't forget to have a backup of it xd

# directory to store your backups (will be created if not there)
backup_path=~/.backup-tk 

# file extensions that the program will target (example: .txt, .exe), leave blank for any
# can also be specified with -e
extensions=()

# path to take backups of
#path=~

# change (or comment) this value to limit the maximum number of backups allowed
max_backups=100


